:root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: var(--color-fg);
  background-color: var(--color-bg);
  font-family: "JetBrains Mono", monospace;
  font-size: var(--font-size-base);
  height: 100%;
  min-width: 200px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 0;
}

main {
  flex-grow: 1;
}

footer.page-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

/*
 * I'm planning on not using <h6> on this site, so it doesn't need to be
 * particularly distinct. I probably won't use <h5> either. Nesting that deep
 * doesn't make sense for the kind of content I plan to write.
 */

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: 700;
}

p {
  margin: 1lh 0;
}

a {
  font-weight: bold;
  color: var(--color-clickable);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

a:hover {
  text-decoration-thickness: 3px;
}

:is(h1, h2, h3, h4, h5, h6) a {
  color: inherit;
}

ul,
ol {
  line-height: 1.5;
}

address {
  font-style: normal;
}

hr {
  border: none;
  margin-top: 1lh;
  margin-bottom: 2lh;
}

hr::before {
  content: "-----";
  color: var(--color-fg);
  font-weight: bold;
}
