:root {
  /* Catppuccin Mocha */

  /* Theme colors */
  --catppuccin-rosewater: #f5e0dc;
  --catppuccin-flamingo: #f2cdcd;
  --catppuccin-pink: #f5c2e7;
  --catppuccin-mauve: #cba6f7;
  --catppuccin-red: #f38ba8;
  --catppuccin-maroon: #eba0ac;
  --catppuccin-peach: #fab387;
  --catppuccin-yellow: #f9e2af;
  --catppuccin-green: #a6e3a1;
  --catppuccin-teal: #94e2d5;
  --catppuccin-sky: #89dceb;
  --catppuccin-sapphire: #74c7ec;
  --catppuccin-blue: #89b4fa;
  --catppuccin-lavender: #b4befe;
  --catppuccin-text: #cdd6f4;
  --catppuccin-subtext1: #bac2de;
  --catppuccin-subtext0: #a6adc8;
  --catppuccin-overlay2: #9399b2;
  --catppuccin-overlay1: #7f849c;
  --catppuccin-overlay0: #6c7086;
  --catppuccin-surface2: #585b70;
  --catppuccin-surface1: #45475a;
  --catppuccin-surface0: #313244;
  --catppuccin-base: #1e1e2e;
  --catppuccin-mantle: #181825;
  --catppuccin-crust: #11111b;

  /* ANSI terminal colors */
  --color-black: var(--catppuccin-mantle);
  --color-red: var(--catppuccin-red);
  --color-green: var(--catppuccin-green);
  --color-yellow: var(--catppuccin-yellow);
  --color-blue: var(--catppuccin-blue);
  --color-magenta: var(--catppuccin-mauve);
  --color-cyan: var(--catppuccin-teal);
  --color-white: var(--catppuccin-text);
  --color-bright-black: var(--catppuccin-base);
  --color-bright-red: var(--catppuccin-red);
  --color-bright-green: var(--catppuccin-green);
  --color-bright-yellow: var(--catppuccin-yellow);
  --color-bright-blue: var(--catppuccin-blue);
  --color-bright-magenta: var(--catppuccin-mauve);
  --color-bright-cyan: var(--catppuccin-teal);
  --color-bright-white: var(--catppuccin-text);

  /* Semantic colors */
  --color-fg: var(--color-white);
  --color-bg: var(--color-black);
}

.black,
.red,
.green,
.yellow,
.blue,
.magenta,
.cyan,
.white {
  font-weight: normal;
}

a:is(.black, .red, .green, .yellow, .blue, .magenta, .cyan, .white) {
  text-decoration-thickness: 1px;
}

a:is(.black, .red, .green, .yellow, .blue, .magenta, .cyan, .white):hover {
  text-decoration-thickness: 2px;
}

.black {
  color: var(--color-black);
}

.red {
  color: var(--color-red);
}

.green {
  color: var(--color-green);
}

.yellow {
  color: var(--color-yellow);
}

.blue {
  color: var(--color-blue);
}

.magenta {
  color: var(--color-magenta);
}

.cyan {
  color: var(--color-cyan);
}

.white {
  color: var(--color-white);
}

.bright-black {
  font-weight: bold;
  color: var(--color-bright-black);
}

.bright-red {
  font-weight: bold;
  color: var(--color-bright-red);
}

.bright-green {
  font-weight: bold;
  color: var(--color-bright-green);
}

.bright-yellow {
  font-weight: bold;
  color: var(--color-bright-yellow);
}

.bright-blue {
  font-weight: bold;
  color: var(--color-bright-blue);
}

.bright-magenta {
  font-weight: bold;
  color: var(--color-bright-magenta);
}

.bright-cyan {
  font-weight: bold;
  color: var(--color-bright-cyan);
}

.bright-white {
  font-weight: bold;
  color: var(--color-bright-white);
}
