/*
 * Theme colors
 */

:root {
  /* Catppuccin Mocha */
  --catppuccin-rosewater: #f5e0dc;
  --catppuccin-flamingo: #f2cdcd;
  --catppuccin-pink: #f5c2e7;
  --catppuccin-mauve: #cba6f7;
  --catppuccin-red: #f38ba8;
  --catppuccin-maroon: #eba0ac;
  --catppuccin-peach: #fab387;
  --catppuccin-yellow: #f9e2af;
  --catppuccin-green: #a6e3a1;
  --catppuccin-teal: #94e2d5;
  --catppuccin-sky: #89dceb;
  --catppuccin-sapphire: #74c7ec;
  --catppuccin-blue: #89b4fa;
  --catppuccin-lavender: #b4befe;
  --catppuccin-text: #cdd6f4;
  --catppuccin-subtext1: #bac2de;
  --catppuccin-subtext0: #a6adc8;
  --catppuccin-overlay2: #9399b2;
  --catppuccin-overlay1: #7f849c;
  --catppuccin-overlay0: #6c7086;
  --catppuccin-surface2: #585b70;
  --catppuccin-surface1: #45475a;
  --catppuccin-surface0: #313244;
  --catppuccin-base: #1e1e2e;
  --catppuccin-mantle: #181825;
  --catppuccin-crust: #11111b;

  /* Nord */
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

/*
 * ANSI terminal colors
 */

body[data-theme="catppuccin-mocha"] {
  --color-black: var(--catppuccin-mantle);
  --color-red: var(--catppuccin-red);
  --color-green: var(--catppuccin-green);
  --color-yellow: var(--catppuccin-yellow);
  --color-blue: var(--catppuccin-blue);
  --color-magenta: var(--catppuccin-mauve);
  --color-cyan: var(--catppuccin-teal);
  --color-white: var(--catppuccin-text);
  --color-bright-black: var(--catppuccin-surface0);
  --color-bright-red: var(--catppuccin-red);
  --color-bright-green: var(--catppuccin-green);
  --color-bright-yellow: var(--catppuccin-yellow);
  --color-bright-blue: var(--catppuccin-blue);
  --color-bright-magenta: var(--catppuccin-mauve);
  --color-bright-cyan: var(--catppuccin-teal);
  --color-bright-white: var(--catppuccin-text);
}

body[data-theme="nord-polar"] {
  --color-black: var(--nord0);
  --color-red: var(--nord11);
  --color-green: var(--nord14);
  --color-yellow: var(--nord13);
  --color-blue: var(--nord9);
  --color-magenta: var(--nord15);
  --color-cyan: var(--nord8);
  --color-white: var(--nord6);
  --color-bright-black: var(--nord1);
  --color-bright-red: var(--nord11);
  --color-bright-green: var(--nord14);
  --color-bright-yellow: var(--nord13);
  --color-bright-blue: var(--nord9);
  --color-bright-magenta: var(--nord15);
  --color-bright-cyan: var(--nord8);
  --color-bright-white: var(--nord6);
}

/*
 * Semantic colors
 */

body {
  --color-fg: var(--color-white);
  --color-bg: var(--color-black);
}

.black,
.red,
.green,
.yellow,
.blue,
.magenta,
.cyan,
.white {
  font-weight: normal;
}

a:is(.black, .red, .green, .yellow, .blue, .magenta, .cyan, .white) {
  text-decoration-thickness: 1px;
}

a:is(.black, .red, .green, .yellow, .blue, .magenta, .cyan, .white):hover {
  text-decoration-thickness: 2px;
}

.black {
  color: var(--color-black);
}

.red {
  color: var(--color-red);
}

.green {
  color: var(--color-green);
}

.yellow {
  color: var(--color-yellow);
}

.blue {
  color: var(--color-blue);
}

.magenta {
  color: var(--color-magenta);
}

.cyan {
  color: var(--color-cyan);
}

.white {
  color: var(--color-white);
}

.black-reverse {
  color: var(--color-fg);
  background-color: var(--color-black);
}

.red-reverse {
  color: var(--color-bg);
  background-color: var(--color-red);
}

.green-reverse {
  color: var(--color-bg);
  background-color: var(--color-green);
}

.yellow-reverse {
  color: var(--color-bg);
  background-color: var(--color-yellow);
}

.blue-reverse {
  color: var(--color-bg);
  background-color: var(--color-blue);
}

.magenta-reverse {
  color: var(--color-bg);
  background-color: var(--color-magenta);
}

.cyan-reverse {
  color: var(--color-bg);
  background-color: var(--color-cyan);
}

.white-reverse {
  color: var(--color-bg);
  background-color: var(--color-white);
}

.bright-black,
.bright-red,
.bright-green,
.bright-yellow,
.bright-blue,
.bright-magenta,
.bright-cyan,
.bright-white,
.bright-black-reverse,
.bright-red-reverse,
.bright-green-reverse,
.bright-yellow-reverse,
.bright-blue-reverse,
.bright-magenta-reverse,
.bright-cyan-reverse,
.bright-white-reverse {
  font-weight: bold;
}

.bright-black {
  color: var(--color-bright-black);
}

.bright-red {
  color: var(--color-bright-red);
}

.bright-green {
  color: var(--color-bright-green);
}

.bright-yellow {
  color: var(--color-bright-yellow);
}

.bright-blue {
  color: var(--color-bright-blue);
}

.bright-magenta {
  color: var(--color-bright-magenta);
}

.bright-cyan {
  color: var(--color-bright-cyan);
}

.bright-white {
  color: var(--color-bright-white);
}

.bright-black-reverse {
  color: var(--color-fg);
  background-color: var(--color-bright-black);
}

.bright-red-reverse {
  color: var(--color-bg);
  background-color: var(--color-bright-red);
}

.bright-green-reverse {
  color: var(--color-bg);
  background-color: var(--color-bright-green);
}

.bright-yellow-reverse {
  color: var(--color-bg);
  background-color: var(--color-bright-yellow);
}

.bright-blue-reverse {
  color: var(--color-bg);
  background-color: var(--color-bright-blue);
}

.bright-magenta-reverse {
  color: var(--color-bg);
  background-color: var(--color-bright-magenta);
}

.bright-cyan-reverse {
  color: var(--color-bg);
  background-color: var(--color-bright-cyan);
}

.bright-white-reverse {
  color: var(--color-bg);
  background-color: var(--color-bright-white);
}
