table.post-list tbody td {
  text-align: right;
  white-space: nowrap;
  padding-right: 1ch;
  vertical-align: top;
}

table.post-list tbody td.ls-filename {
  text-align: left;
  white-space: normal;
}

@media (max-width: 768px) {
  /*
   * On narrow screens, the table rows needs to be able to wrap.
   */
  table.post-list tbody td {
    display: inline-block;
  }

  /*
   * Make sure the "filename" gets its own line, to improve legibility.
   */
  table.post-list tbody td.ls-filename {
    width: 100%;
  }

  /*
   * Save space so that on the narrowest screens, the table row only takes up
   * two lines: one for the "metadata" and one for the "filename".
   */
  table.post-list tbody td {
    padding-right: 0;
  }

  /*
   * Add a bit more space between table rows to improve legibility on narrow
   * screens.
   */
  table.post-list {
    border-spacing: 0 1lh;
  }
}

table.post-list tbody tr.feed-entry td.ls-filename {
  /*
   * Show a blank line between the table row for the RSS feed and the table
   * rows for the actual blog posts. However, we only apply the padding to the
   * final column, to prevent unwanted internal spacing when the row wraps on
   * narrow screens.
   */
  padding-bottom: 1lh;
}

.post-body {
  text-align: justify;
  border: 1px solid var(--color-fg);
  padding: 1.5rem;
}

@media (max-width: 640px) {
  .post-body {
    text-align: left;
    border: none;
    padding: 0;
  }
}

/*
 * We're making the assumption that posts will end with a <p></p>. This isn't
 * necessarily true, but it's difficult to do this any other way.
 */

.post-content > p:first-of-type {
  margin-top: 0;
}

.post-content > p:last-of-type {
  margin-bottom: 0;
}

.post-body .post-content > p:last-of-type::after {
  content: " █";
  animation: blink 1s step-start infinite;
}

@media (prefers-reduced-motion) {
  .post-body .post-content > p:last-of-type::after {
    animation: none;
  }
}

/* "eob" means "end of buffer" */

.post-decoration .vim-eob {
  font-weight: bold;
  color: var(--color-bright-blue);
}

.post-decoration .vim-statusline {
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  color: var(--color-fg);
  background-color: var(--color-bright-black);
}

.post-decoration .vim-statusline span {
  display: inline-block;
}

@media (max-width: 640px) {
  .post-decoration .vim-statusline .vim-word-count {
    display: none;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

ul.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  column-gap: 1.2rem;
  row-gap: 0.2rem;
  padding-left: 0;
  list-style: none;
}

ul.tag-list li {
  display: inline;
}

.comments {
  margin-top: 3rem;
}

footer.post-footer {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

footer.post-footer .back-link {
  white-space: nowrap;
}
