/*
 * Only show the theme picker when JS is enabled. This style is overwritten in
 * the JS when it loads.
 */
#theme-picker {
  display: none;
}

#theme-picker ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding-left: 0;
  list-style: none;
}

#theme-picker ul button {
  all: unset;
  cursor: pointer;
  font-weight: bold;
  color: var(--color-bright-blue);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

#theme-picker ul button:hover {
  text-decoration-thickness: 3px;
}
