/*
 * Layout variables
 */

:root {
  --font-size-base: 16px;
  --flow-list-row-gap: 0.6rem;
  --flow-list-column-gap: 1.2rem;
}

/*
 * Theme colors
 */

:root {
  /* Catppuccin Mocha */
  --catppuccin-rosewater: #f5e0dc;
  --catppuccin-flamingo: #f2cdcd;
  --catppuccin-pink: #f5c2e7;
  --catppuccin-mauve: #cba6f7;
  --catppuccin-red: #f38ba8;
  --catppuccin-maroon: #eba0ac;
  --catppuccin-peach: #fab387;
  --catppuccin-yellow: #f9e2af;
  --catppuccin-green: #a6e3a1;
  --catppuccin-teal: #94e2d5;
  --catppuccin-sky: #89dceb;
  --catppuccin-sapphire: #74c7ec;
  --catppuccin-blue: #89b4fa;
  --catppuccin-lavender: #b4befe;
  --catppuccin-text: #cdd6f4;
  --catppuccin-subtext1: #bac2de;
  --catppuccin-subtext0: #a6adc8;
  --catppuccin-overlay2: #9399b2;
  --catppuccin-overlay1: #7f849c;
  --catppuccin-overlay0: #6c7086;
  --catppuccin-surface2: #585b70;
  --catppuccin-surface1: #45475a;
  --catppuccin-surface0: #313244;
  --catppuccin-base: #1e1e2e;
  --catppuccin-mantle: #181825;
  --catppuccin-crust: #11111b;

  /* Nord */
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;

  /* Solarized Dark */
  --solarized-base03: #002b36;
  --solarized-base02: #073642;
  --solarized-base01: #586e75;
  --solarized-base00: #657b83;
  --solarized-base0: #839496;
  --solarized-base1: #93a1a1;
  --solarized-base2: #eee8d5;
  --solarized-base3: #fdf6e3;
  --solarized-yellow: #b58900;
  --solarized-orange: #cb4b16;
  --solarized-red: #dc322f;
  --solarized-magenta: #d33682;
  --solarized-violet: #6c71c4;
  --solarized-blue: #268bd2;
  --solarized-cyan: #2aa198;
  --solarized-green: #859900;

  /* Dracula */
  --dracula-background: #282a36;
  --dracula-current-line: #44475a;
  --dracula-foreground: #f8f8f2;
  --dracula-comment: #6272a4;
  --dracula-cyan: #8be9fd;
  --dracula-green: #50fa7b;
  --draula-orange: #ffb86c;
  --dracula-pink: #ff79c6;
  --dracula-purple: #bd93f9;
  --dracula-red: #ff5555;
  --dracula-yellow: #f1fa8c;

  /* Gruvbox */
  --gruvbox-bg0h: #1d2021;
  --gruvbox-bg0s: #32302f;
  --gruvbox-bg0: #282828;
  --gruvbox-bg1: #3c3836;
  --gruvbox-bg2: #504945;
  --gruvbox-bg3: #665c54;
  --gruvbox-bg4: #7c6f64;
  --gruvbox-fg0: #fbf1c7;
  --gruvbox-fg1: #ebdbb2;
  --gruvbox-fg2: #d5c4a1;
  --gruvbox-fg3: #bdae93;
  --gruvbox-fg4: #a89984;
  --gruvbox-red: #cc241d;
  --gruvbox-orange: #d65d0e;
  --gruvbox-yellow: #d79921;
  --gruvbox-green: #98971a;
  --gruvbox-aqua: #689d6a;
  --gruvbox-blue: #458588;
  --gruvbox-purple: #b16286;
  --gruvbox-bright-red: #fb4934;
  --gruvbox-bright-orange: #fe8019;
  --gruvbox-bright-yellow: #fabd2f;
  --gruvbox-bright-green: #b8bb26;
  --gruvbox-bright-aqua: #8ec07c;
  --gruvbox-bright-blue: #83a598;
  --gruvbox-bright-purple: #d3869b;
}

/*
 * ANSI terminal colors
 */

body[data-theme="catppuccin-mocha"] {
  --color-black: var(--catppuccin-mantle);
  --color-red: var(--catppuccin-red);
  --color-green: var(--catppuccin-green);
  --color-yellow: var(--catppuccin-yellow);
  --color-blue: var(--catppuccin-blue);
  --color-magenta: var(--catppuccin-mauve);
  --color-cyan: var(--catppuccin-teal);
  --color-white: var(--catppuccin-text);
  --color-bright-black: var(--catppuccin-surface0);
  --color-bright-red: var(--catppuccin-red);
  --color-bright-green: var(--catppuccin-green);
  --color-bright-yellow: var(--catppuccin-yellow);
  --color-bright-blue: var(--catppuccin-blue);
  --color-bright-magenta: var(--catppuccin-mauve);
  --color-bright-cyan: var(--catppuccin-teal);
  --color-bright-white: var(--catppuccin-text);
}

body[data-theme="nord-polar"] {
  --color-black: var(--nord0);
  --color-red: var(--nord11);
  --color-green: var(--nord14);
  --color-yellow: var(--nord13);
  --color-blue: var(--nord9);
  --color-magenta: var(--nord15);
  --color-cyan: var(--nord8);
  --color-white: var(--nord6);
  --color-bright-black: var(--nord1);
  --color-bright-red: var(--nord11);
  --color-bright-green: var(--nord14);
  --color-bright-yellow: var(--nord13);
  --color-bright-blue: var(--nord9);
  --color-bright-magenta: var(--nord15);
  --color-bright-cyan: var(--nord8);
  --color-bright-white: var(--nord6);
}

body[data-theme="solarized-dark"] {
  --color-black: var(--solarized-base03);
  --color-red: var(--solarized-red);
  --color-green: var(--solarized-green);
  --color-yellow: var(--solarized-yellow);
  --color-blue: var(--solarized-blue);
  --color-magenta: var(--solarized-magenta);
  --color-cyan: var(--solarized-cyan);
  --color-white: var(--solarized-base3);
  --color-bright-black: var(--solarized-base02);
  --color-bright-red: var(--solarized-red);
  --color-bright-green: var(--solarized-green);
  --color-bright-yellow: var(--solarized-yellow);
  --color-bright-blue: var(--solarized-blue);
  --color-bright-magenta: var(--solarized-magenta);
  --color-bright-cyan: var(--solarized-cyan);
  --color-bright-white: var(--solarized-base3);
}

body[data-theme="dracula"] {
  --color-black: var(--dracula-background);
  --color-red: var(--dracula-red);
  --color-green: var(--dracula-green);
  --color-yellow: var(--dracula-yellow);
  --color-blue: var(--dracula-purple);
  --color-magenta: var(--dracula-pink);
  --color-cyan: var(--dracula-cyan);
  --color-white: var(--dracula-foreground);
  --color-bright-black: var(--dracula-current-line);
  --color-bright-red: var(--dracula-red);
  --color-bright-green: var(--dracula-green);
  --color-bright-yellow: var(--dracula-yellow);
  --color-bright-blue: var(--dracula-purple);
  --color-bright-magenta: var(--dracula-pink);
  --color-bright-cyan: var(--dracula-cyan);
  --color-bright-white: var(--dracula-foreground);
}

body[data-theme="gruvbox"] {
  --color-black: var(--gruvbox-bg0);
  --color-red: var(--gruvbox-red);
  --color-green: var(--gruvbox-green);
  --color-yellow: var(--gruvbox-yellow);
  --color-blue: var(--gruvbox-blue);
  --color-magenta: var(--gruvbox-purple);
  --color-cyan: var(--gruvbox-aqua);
  --color-white: var(--gruvbox-fg0);
  --color-bright-black: var(--gruvbox-bg1);
  --color-bright-red: var(--gruvbox-bright-red);
  --color-bright-green: var(--gruvbox-bright-green);
  --color-bright-yellow: var(--gruvbox-bright-yellow);
  --color-bright-blue: var(--gruvbox-bright-blue);
  --color-bright-magenta: var(--gruvbox-bright-purple);
  --color-bright-cyan: var(--gruvbox-bright-aqua);
  --color-bright-white: var(--gruvbox-fg0);
}

/*
 * Semantic colors
 */

body {
  --color-fg: var(--color-white);
  --color-bg: var(--color-black);
  --color-heading: var(--color-bright-magenta);
  --color-clickable: var(--color-bright-blue);
  --color-clickable-selected: var(--color-bright-cyan);
}

.black,
.red,
.green,
.yellow,
.blue,
.magenta,
.cyan,
.white {
  font-weight: normal;
}

a:is(.black, .red, .green, .yellow, .blue, .magenta, .cyan, .white) {
  text-decoration-thickness: 1px;
}

a:is(.black, .red, .green, .yellow, .blue, .magenta, .cyan, .white):hover {
  text-decoration-thickness: 2px;
}

.black {
  color: var(--color-black);
}

.red {
  color: var(--color-red);
}

.green {
  color: var(--color-green);
}

.yellow {
  color: var(--color-yellow);
}

.blue {
  color: var(--color-blue);
}

.magenta {
  color: var(--color-magenta);
}

.cyan {
  color: var(--color-cyan);
}

.white {
  color: var(--color-white);
}

.black-reverse {
  color: var(--color-fg);
  background-color: var(--color-black);
}

.red-reverse {
  color: var(--color-bg);
  background-color: var(--color-red);
}

.green-reverse {
  color: var(--color-bg);
  background-color: var(--color-green);
}

.yellow-reverse {
  color: var(--color-bg);
  background-color: var(--color-yellow);
}

.blue-reverse {
  color: var(--color-bg);
  background-color: var(--color-blue);
}

.magenta-reverse {
  color: var(--color-bg);
  background-color: var(--color-magenta);
}

.cyan-reverse {
  color: var(--color-bg);
  background-color: var(--color-cyan);
}

.white-reverse {
  color: var(--color-bg);
  background-color: var(--color-white);
}

.bright-black,
.bright-red,
.bright-green,
.bright-yellow,
.bright-blue,
.bright-magenta,
.bright-cyan,
.bright-white,
.bright-black-reverse,
.bright-red-reverse,
.bright-green-reverse,
.bright-yellow-reverse,
.bright-blue-reverse,
.bright-magenta-reverse,
.bright-cyan-reverse,
.bright-white-reverse {
  font-weight: bold;
}

.bright-black {
  color: var(--color-bright-black);
}

.bright-red {
  color: var(--color-bright-red);
}

.bright-green {
  color: var(--color-bright-green);
}

.bright-yellow {
  color: var(--color-bright-yellow);
}

.bright-blue {
  color: var(--color-bright-blue);
}

.bright-magenta {
  color: var(--color-bright-magenta);
}

.bright-cyan {
  color: var(--color-bright-cyan);
}

.bright-white {
  color: var(--color-bright-white);
}

.bright-black-reverse {
  color: var(--color-fg);
  background-color: var(--color-bright-black);
}

.bright-red-reverse {
  color: var(--color-bg);
  background-color: var(--color-bright-red);
}

.bright-green-reverse {
  color: var(--color-bg);
  background-color: var(--color-bright-green);
}

.bright-yellow-reverse {
  color: var(--color-bg);
  background-color: var(--color-bright-yellow);
}

.bright-blue-reverse {
  color: var(--color-bg);
  background-color: var(--color-bright-blue);
}

.bright-magenta-reverse {
  color: var(--color-bg);
  background-color: var(--color-bright-magenta);
}

.bright-cyan-reverse {
  color: var(--color-bg);
  background-color: var(--color-bright-cyan);
}

.bright-white-reverse {
  color: var(--color-bg);
  background-color: var(--color-bright-white);
}
