# {{ feed.title }}

{% if feed.subtitle -%}
## {{ feed.subtitle }}
{%- endif %}

{% for entry in feed.entries -%}
=> {{ entry.url }} {{ entry.published | default(value=entry.updated) | date(format="%d %b %Y") }} • {{ entry.title }}

{% if entry.summary -%}
{{ entry.summary }}

{% endif -%}

{%- if entry.categories -%}
{% for category in entry.categories %}#{{ category }}{% if not loop.last %} {% endif %}{% endfor %}

{% endif %}

{%- endfor -%}

─────────

=> {{ feed.feed_url }} Atom feed
=> {{ feed.capsule_url }} Home
