{% extends "page.html" %}

{% block content %}
<div class="page-lead">
  <p>
    {{ page.description | markdown(inline=true) | safe }}
  </p>

  <p>
    <i>
      {% set last_updated = page.updated | default(value=page.date) %}
      Last updated:
      <time datetime="{{ last_updated | date(timezone='Etc/UCT', format='%F') }}">
        {{ last_updated | date(timezone="Etc/UCT", format="%e %b %Y") }}
      </time>
    </i>
  </p>
</div>

<article aria-labelledby="article-title" class="page-body">
  <h2 id="article-title">{{ page.title }}</h2>
  {{ page.content | safe }}
</article>
{% endblock %}
