<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title %}Lark Space{% endblock %}</title>
  <meta name="description" content="Lark's blog and personal site" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="/assets/index.css" />

  <link rel="alternate" type="application/atom+xml" title="Feed"
    href="{{ get_url(path='atom.xml', trailing_slash=false) }}" />
</head>

<body>
  {% block body %} {% endblock %}
</body>

</html>
