{% extends "page.html" %}

{% block content %}
<div class="page-lead">
  <p>
    If you want to reach out for any reason, feel free to shoot me an email.
  </p>

  <p>
    I love hearing from folks!
  </p>

  <p>
    <address>
      <a href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a>
    </address>
  </p>

  <hr />

  <p>
    Here's my button, if you want to link to Lark Space:
  </p>

  <a href="{{ config.base_url }}" target="_blank">
    <img src="/assets/button.png" alt="Lark Space" />
  </a>
</div>
{% endblock %}
