{% extends "page.html" %}

{% block heading %}Home{% endblock %}

{% block content %}
<div class="ascii-banner" role="img" aria-label="ASCII Lark Space">
  <pre class="bright-green">
 _               _
| |    __ _ _ __| | __
| |   / _` | '__| |/ /
| |__| (_| | |  |   <
|_____\__,_|_|  |_|\_\
  </pre>
  <pre class="bright-cyan">
  ____
/ ___| _ __   __ _  ___ ___
\___ \| '_ \ / _` |/ __/ _ \
 ___) | |_) | (_| | (_|  __/
|____/| .__/ \__,_|\___\___|
      |_|
  </pre>
</div>

<div class="page-lead">
  <p>
    Welcome to my little space on the web!
  </p>

  <p>
    My name is <strong>Lark (they/it)</strong>.
  </p>
</div>

<div class="page-body">
  <h2>About</h2>

  <p>
    Things to know about me:
  </p>

  <ul>
    <li>🏳️‍⚧️ trans</li>
    <li>♠️ aro/ace</li>
    <li>🧠 autistic</li>
    <li>💚 polyamorous</li>
    <li>🧑 mid-20s</li>
    <li>⏰ eastern time zone (UTC-04:00 / UTC-05:00)</li>
  </ul>
</div>
{% endblock %}
