{% extends "page.html" %}

{% block meta_vars %}
{% set title = config.extra.site_title %}
{% set description = config.extra.site_description %}
{% endblock %}

{% block heading %}Home{% endblock %}

{% block content %}
<div class="ascii-banner" role="img" aria-label="ASCII Lark Space">
  <pre class="bright-green">
 _               _
| |    __ _ _ __| | __
| |   / _` | '__| |/ /
| |__| (_| | |  |   <
|_____\__,_|_|  |_|\_\
  </pre>
  <pre class="bright-cyan">
  ____
/ ___| _ __   __ _  ___ ___
\___ \| '_ \ / _` |/ __/ _ \
 ___) | |_) | (_| | (_|  __/
|____/| .__/ \__,_|\___\___|
      |_|
  </pre>
</div>

<div class="page-lead">
  <p>
    Welcome to my little space on the web!
  </p>

  <p>
    My name is <strong>Lark (they/it)</strong>.
  </p>
</div>

<div class="page-body">
  {{ get_page(path="home.md") | get(key="content") | safe }}
</div>

<div class="page-tail">
  <p>Choose your color scheme!</p>
  <ul class="theme-picker">
    <li><button class="theme-button" data-theme="catppuccin-mocha">Catppuccin</button></li>
    <li><button class="theme-button" data-theme="nord-polar">Nord</button></li>
  </ul>
</div>
{% endblock %}
