{% extends "page.html" %}

{% block title %}{{ page.title }} | {{ super() }}{% endblock %}
{% block heading %}{{ page.title }}{% endblock %} {% block content %}

<div class="page-lead">
  <p>
    This is my <a href="https://nownownow.com/about" target="_blank">Now Page</a>.
  </p>

  <p>
    Here's what I'm doing right now.
  </p>

  <p>
    Last updated: <time datetime="{{ page.date | date(timezone='Etc/UCT', format='%F') }}">
      {{ page.date | date(timezone="Etc/UCT", format="%e %b %Y") }}
    </time>
  </p>
</div>

<div class="page-body">
  {{ page.content | safe }}
</div>
{% endblock %}
