{% extends "page.html" %}

{% block heading %}{{ page.title }}{% endblock %} {% block content %}

<div class="page-lead">
  <p>
    This is my <a href="https://nownownow.com/about" target="_blank">Now Page</a>.
    Here's what I'm up to right now.
  </p>

  <p>
    <i>
      Last updated: <time datetime="{{ page.date | date(timezone='Etc/UCT', format='%F') }}">
        {{ page.date | date(timezone="Etc/UCT", format="%e %b %Y") }}
      </time>
    </i>
  </p>
</div>

<div class="page-lead">
  <pre class="green">/// NOW ///</pre>
</div>

<div class="page-body">
  {{ page.content | safe }}
</div>
{% endblock %}
