{% extends "base.html" %}

{% block meta_vars %}
{% set this = page | default(value=section) %}
{% set title = this.title | default(value=config.extra.site_title) %}
{% set description = this.description | default(value=config.extra.site_description) %}
{% endblock %}

{% block body %}
<header>
  <h1 class="page-title"><a href="/">{{ config.extra.site_title }}</a></h1>

  <nav class="top-nav">
    <!-- The home link is deliberately never highlighted as active. -->
    <a href="/">Home</a>
    <a class="{% if current_path is matching('^/(log|tags)/') %}active{% endif %}"
      href="{{ get_url(path='@/log/_index.md') }}">
      Log
    </a>
    <a class="{% if current_path == '/now/' %}active{% endif %}" href="{{ get_url(path='@/now.md') }}">
      Now
    </a>
    <a class="{% if current_path == '/contact/' %}active{% endif %}" href="{{ get_url(path='@/contact.md') }}">
      Contact
    </a>
  </nav>
</header>

<main>
  {% block content %} {% endblock %}
</main>

<footer>
  <span>
    &copy; Lark 2024
    <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>
  </span>
  <span>
    <a href="https://github.com/justlark/lark.gay" target="_blank">GitHub</a>
  </span>
</footer>
{% endblock %}
