{% extends "base.html" %}

{% block body %}
<header>
  <h1 class="page-title"><a href="/">Lark Space</a></h1>

  <nav class="top-nav">
    <!-- The home link is deliberately never highlighted as active. -->
    <a href="/">Home</a>
    {% for path in config.extra.nav %}

    {% set is_section = path is ending_with('/_index.md') %}

    {% if is_section %}
    {% set this = get_section(path=path, metadata_only=true) %}
    {% else %}
    {% set this = get_page(path=path) %}
    {% endif %}

    <a href="{{ get_url(path='@/' ~ path) }}"
      class="{% if (is_section and current_path is matching('^/' ~ path)) or (current_path == path) %}active{% endif %}">
      {{ this.title }}
    </a>
    {% endfor %}
  </nav>
</header>

<main>
  {% block content %} {% endblock %}
</main>

<footer>
  <span>
    &copy; Lark 2024
    <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>
  </span>
  <span>
    <a href="https://github.com/justlark/lark.gay" target="_blank">GitHub</a>
  </span>
</footer>
{% endblock %}
