{% extends "page.html" %}

{% block jsonld %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "@id": {{ page.permalink ~ "#post" | json_encode() | safe }},
    "name": {{ page.title | json_encode() | safe }},
    "description": {{ page.description | json_encode() | safe }},
    "wordCount": {{ page.word_count | json_encode() | safe }},
    "keywords": {{ page.taxonomies.tags | default(value=[]) | join(sep=', ') | json_encode() | safe }},
    "datePublished": {{ page.date | date(timezone='Etc/UCT', format='%+') | json_encode() | safe }},
    "dateModified": {{ page.updated | default(value=page.date) | date(timezone='Etc/UCT', format='%+') | json_encode() | safe }},
    "author": {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": {{ config.author | json_encode() | safe }}
    },
    "license": {{ config.extra.license_link | json_encode() | safe }}
  }
</script>
{% endblock %}

{% block content %}

{% set vim_file_path = "./log/" ~ page.slug ~ ".md" %}

<script src="/assets/vim.js" defer></script>

<div class="page-lead">
  <p>{{ page.description }}</p>
  {% if page.updated and page.updated != page.date %}
  <p>
    <i>
      {% set last_updated = page.updated | default(value=page.date) %}
      Last updated: <time datetime="{{ last_updated | date(timezone='Etc/UCT', format='%F') }}">
        {{ last_updated | date(timezone="Etc/UCT", format="%e %b %Y") }}
      </time>
    </i>
  </p>
  {% endif %}
</div>

<article aria-labelledby="post-title">
  <h2 id="post-title">{{ page.title }}</h2>

  <p>
    <code><span class="bright-white">$</span> vim {{ vim_file_path }}</code>
  </p>

  <div class="post-body">
    <div class="post-content">
      {{ page.content | safe }}
    </div>

    <div class="post-decoration">
      <div class="vim-eob">~</div>
      <div class="vim-eob">~</div>
      <div class="vim-eob">~</div>
      <div class="vim-eob">~</div>
      <div class="vim-eob">~</div>

      <div class="vim-statusline">
        <div>
          <span id="vim-mode" class="bright-green-reverse">&nbsp;NORMAL&nbsp;</span>
          <span>{{ vim_file_path }}</span>
        </div>
        <div class="vim-word-count">
          <span>&nbsp;{{ page.word_count }} words&nbsp;</span>
        </div>
      </div>
    </div>
  </div>

  <footer class="post-footer">
    <span class="back-link">
      &lt;-
      <a href="{{ get_url(path='@/log/_index.md') }}">Back</a>
    </span>

    <ul class="tag-list">
      {% for tag in page.taxonomies.tags | default(value=[]) %}
      <li>
        <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">#{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
  </footer>
</article>

<!-- https://talk.hyvor.com/ -->
<section class="comments" aria-labelledby="comments-heading">
  <h2 id="comments-heading">Comments</h2>

  <script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
  <hyvor-talk-comments website-id="12023" page-id="{{ page.slug }}" colors="dark">
  </hyvor-talk-comments>
</section>
{% endblock %}
