{% extends "page.html" %}

{% block heading %}
{% set section = get_section(path="log/_index.md", metadata_only=true) %}
{{ section.title }}
{% endblock %}

{% block content %}

{% set vim_file_path = "./log/" ~ page.slug ~ ".md" %}

<script src="/assets/vim.js" defer></script>

<article aria-labelledby="post-title">
  <h2 id="post-title">{{ page.title }}</h2>

  <p>
    <code><span class="bright-white">$</span> vim {{ vim_file_path }}</code>
  </p>

  <div class="post-body">
    <div class="post-content">
      {{ page.content | safe }}
    </div>

    <div class="post-decoration">
      <div class="vim-eob">~</div>
      <div class="vim-eob">~</div>
      <div class="vim-eob">~</div>
      <div class="vim-eob">~</div>
      <div class="vim-eob">~</div>

      <div class="vim-statusline">
        <div>
          <span id="vim-mode" class="bright-green-reverse">&nbsp;NORMAL&nbsp;</span>
          <span>{{ vim_file_path }}</span>
        </div>
        <div class="vim-word-count">
          <span>&nbsp;{{ page.word_count }} words&nbsp;</span>
        </div>
      </div>
    </div>
  </div>

  <p>
    &lt;-
    <a href="{{ get_url(path='@/log/_index.md') }}">
      Back
    </a>
  </p>
</article>
{% endblock %}
