{% extends "page.html" %}

{% block title %}{{ section.title }} | {{ super() }}{% endblock %}
{% block heading %}{{ section.title }}{% endblock %}

{% block content %}
<p>
  <code><span class="bright-white">$</span> ls -la ./log/</code>
</p>

<table class="post-list">
  <tbody>
    {% for post in section.pages %}
    <tr>
      <td>
        <span class="white">-</span><span class="bright-yellow">r</span><span class="bright-red">w</span><span
          class="white">-</span><span class="white">-</span><span class="bright-yellow">r</span><span
          class="bright-red">w</span><span class="white">-</span><span class="white">-</span><span
          class="bright-yellow">r</span><span class="white">-</span><span class="white">-</span>
      </td>
      <td><span class="bright-yellow">{{ post.authors[0] | lower }}</span></td>
      <td><span class="bright-green">{{ post.word_count }} words</span></td>
      <!-- We can't effectively localize the datetime without JS, so use UTC instead. -->
      <td><span class="bright-blue">{{ post.date | date(timezone="Etc/UCT", format="%e %b %Y %H:%M") }}</span></td>
      <td><a class="white" href="{{ post.permalink }}">{{ post.title }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
