{% extends "page.html" %}

{% block title %}{{ section.title }} | {{ super() }}{% endblock %}
{% block heading %}{{ section.title }}{% endblock %}

{% block content %}

{% set datetime_format = "%e %b %Y" %}
{% set latest_publish_time = section.pages | first | get(key='date') %}

<div class="page-lead">
  <p>
    Here's what I've been writing about lately.
  </p>
</div>

<p>
  <code><span class="bright-white">$</span> ls -la ./log/</code>
</p>

<table class="post-list">
  <tbody>
    <tr>
      <td>
        <span class="white">-</span><span class="bright-yellow">r</span><span class="bright-red">w</span><span
          class="bright-green">x</span><span class="bright-yellow">r</span><span class="bright-red">w</span><span
          class="bright-green">x</span><span class="bright-yellow">r</span><span class="white">-</span><span
          class="bright-green">x</span>
      </td>
      <td><span class="bright-yellow">nobody</span></td>
      <td><span class="bright-green">0 words</span></td>
      <td>
        <span class="bright-blue">
          <time datetime="{{ latest_publish_time | date(timezone='Etc/UCT', format='%F') }}">
            {{ latest_publish_time | date(timezone="Etc/UCT", format=datetime_format) }}
          </time>
        </span>
      </td>
      <td><a class="white" href="/atom.xml">.RSS Feed</a></td>
    </tr>

    {% for post in section.pages %}

    {% if post.authors | length > 0 %}
    {% set author = post.authors[0] %}
    {% else %}
    {% set author = config.author %}
    {% endif %}

    <tr>
      <td>
        <span class="white">-</span><span class="bright-yellow">r</span><span class="bright-red">w</span><span
          class="white">-</span><span class="bright-yellow">r</span><span class="bright-red">w</span><span
          class="white">-</span><span class="bright-yellow">r</span><span class="white">-</span><span
          class="white">-</span>
      </td>
      <td><span class="bright-yellow">{{ author | lower }}</span></td>
      <td><span class="bright-green">{{ post.word_count }} words</span></td>
      <!-- We can't effectively localize the datetime without JS, so use UTC instead. -->
      <td><span class="bright-blue">{{ post.date | date(timezone="Etc/UCT", format=datetime_format) }}</span></td>
      <td><a class="white" href="{{ post.permalink }}">{{ post.title }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
