{% extends "base.html" %}
{% block meta_vars %}
  {% set this = page | default(value=section) %}
  {% set canonical_url = this.permalink %}
  {% set title = this.title | default(value=config.title) | markdown(inline=true) | striptags %}
  {% set description = this.description | default(value=config.description) | markdown(inline=true) | striptags %}
{% endblock %}
{% block body %}
  <script src="/assets/flipboard.js" defer></script>
  <header aria-labelledby="flipboard-title">
    <h1 id="flipboard-title">{{ title }}</h1>
  </header>
  <p class="page-lead">{{ description }}</p>
  <main class="page-body">
    <p>
      Your message can include letters and numbers, most symbols on the keyboard,
      and the ❤️ emoji.
    </p>
    <p>
      <em><a href="https://en.wikipedia.org/wiki/Split-flap_display" target="_blank">What is a split-flap display?</a></em>
    </p>
    <form id="flipboard-form">
      <textarea id="flipboard-input" placeholder="Type a message here…"></textarea>
      <button id="flipboard-send-button" type="button">Send</button>
    </form>
    <p id="flipboard-permission-warning" hidden class="bright-red">
      You don't have permission to do this! Lark did not receive your message.
    </p>
    <p id="flipboard-length-warning" hidden class="bright-red">
      This message is too long! You're limited to 45 characters.
    </p>
    <p id="flipboard-success" hidden class="bright-green">
      Message sent!
    </p>
  </main>
{% endblock %}
